# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
env/
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/

# Node
node_modules/
dist/
.vite/

# Docker
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/
